{{extend 'layout.html'}}
<div class="well">
   <h1>
    {{=A(complaint.title,_href=post.url) if complaint.url else complaint.title}}
</h1>
    {{if complaint.UserID==auth.user_id and auth.user:}}
    {{=A('Edit this post',_class="btn btn-info",_href=URL('edit_complaint',args=post.id))}}
    {{else:}}
    {{if not auth.user:}}
    {{=A('Login to edit (if you created this post)',_class="btn btn-info",_href=URL('user/login',vars=dict(_next=URL(args=request.args))))}}
    {{pass}}
    {{pass}}
    
   
    
    {{=MARKMIN(complaint.body)}}

</div>
{{for comment in Comments:}}
<div class="well">
    <table>
        
        <tr data-id="{{=comment.id}}"><td><button data-direction="down">-</button></td><td> &nbsp<span class="votes">{{=comment.votes}}</span>&nbsp </td><td><button data-direction="up">+</button></td>
            </tr>
</table>
  On {{=comment.WrittenAt}}, {{=author(comment.UserID)}} said: "{{=comment.body}}"   
    
</div>
{{pass}}


{{=form}}

<script>
    function do_ajax_vote(t,direction){
       var id=jQuery(t).closest('tr').attr('data-id');
       
        jQuery.ajax({method:'post',url:'{{=URL('comm_vote_callback')}}',data:{'id':id,'direction':direction},success:function(data){                    jQuery(t).closest('tr').find('.votes').html(data);}});
        
    }
    jQuery(function(){
        jQuery('[data-direction=up').click(function(){do_ajax_vote(this,'up');});
        jQuery('[data-direction=down').click(function(){do_ajax_vote(this,'down');});
    });
</script>
